extends layout

block content
  h1 Africa
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js')
  script(src='main.js')